# Dependencies
node_modules

# Build
dist
dist-ssr

# Env
.env
.env.local
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Netlify
.netlify

# Temp
tmp
